# programs
alias e="nvim"
alias cm="chezmoi"
alias cmc="chezmoi cd"
alias cma="chezmoi apply"
alias cat="bat --style=plain"
alias ldk="lazydocker" 
alias sv="sudo (which nvim)"
alias x="exit"
alias vm="vimv"
alias lf="lfcd"
alias ipy="ipython"

# remote machines
alias ms="mosh s"

# navigation
alias j="__zoxide_z"
alias ji="__zoxide_zi"
alias cc="cd (fd -t d |fzf)" # cd down the directory structure with fzf
alias tf="tm (nf)"

function new-file --wraps ls \
    --description 'return latest file in directory, accepts argument to return earlier files. Aliased to nf and lnf'
    {{if eq .chezmoi.os "darwin"}}
    # if darwin, exclude .DS_Store from the list, else don't check for it
    ls -At1 . | sed '/\.DS_Store/d' | sed -n "$argv[1]p"
    {{else}}
    ls -At1 . | sed -n "$argv[1]p"
    {{end}}
end

alias nf="new-file 1"
alias lnf="new-file 2"

# git
alias gs="git status"

function gcam --wraps git --description 'git commit -a -m'
    git commit -a -m "$argv"
end

{{if eq .chezmoi.os "darwin" }}
alias tm="trash"
{{else}}
alias tm="trash-put"
{{end}}

{{if eq .chezmoi.os "darwin" }}
# macOS only
alias yo="open -a yoink"
alias yf="yo (nf)"
{{end}}

# vim: filetype=fish
