# if shell is interactive, immediately exec fish
if [[ $(ps --no-header --pid=$PPID --format=comm) != "fish" && -z ${BASH_EXECUTION_STRING} ]]
then
        exec fish
fi

{{if eq .chezmoi.os "linux"}}
# Source global definitions
if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi
{{end}}

{{if eq .chezmoi.username "lima"}}
# LIMA ensure some executables are available
PATH="$PATH:/usr/sbin:/sbin"
export PATH
{{end}}

# vim: filetype=bash
